{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row divTitleSubscribe">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - COMMENTAIRE  - </h1>
            </div>
        </div>
    </div>
    <div class="blocFormSubscribe blocShowComment">
            <div class="col-xs-12 spaceBottom">Posté par {{ comment.idUser.username }} le {{ comment.dateAdd|date("d/m/Y") }}  : </div>
            <div class="col-xs-12 spaceBottom">" {{ comment.content }} "</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="blocBtn">
                        {{ form_start(delete_form) }}
                        <input class="btDelete ml0" type="submit" value="SUPPRIMER">
                        {{ form_end(delete_form) }}
                        <a class="btEdit ml0" href="{{ path('comment_edit', {'id' : comment.id}) }}">MODIFIER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
