<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WebAwards{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block nav %}
    <nav id="myMenu" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand hidden-xs hidden-sm hidden-md" href="{{ path('homepage') }}"><img class="img-responsive" src="{{ asset('bundles/framework/images/logo-small.png') }}" alt="WebAwards"/></a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('project_from', { 'from':'junior', page:1 }) }}">Junior's</a></li>
                <li><a  href="{{ path('project_from', { 'from':'agency', page:1 }) }}">Agency's</a></li>
                <li><a href="{{ path('project_from', { 'from':'freelance', page:1 }) }}">Freelance's</a></li>
                <li><a href="{{ path('project_from', { 'from':'honorable', page:1 }) }}">Honorable's</a></li>
                <li><a href="{{ path('project_from_winner', { 'winner':'week', page:1 }) }}">Site de la semaine</a></li>
                <li><a href="{{ path('project_from_winner', { 'winner':'month', page:1 }) }}">Site du mois</a></li>
                <li><a href="{{ path('project_from_winner', { 'winner':'year', page:1 }) }}">Site de l'année</a></li>
            </ul>
        </div>
    </nav>
    <div  class="col-xs-12 text-right text-uppercase ">
        <button type="button" class="btn btn-secondary addProject"><a href="{{ path('project_new') }}">Soumettre un projet</a></button>
        <button type="button" class="btn btn-secondary login">
            {% if app.user %}
                <a href="{{ path('logout') }}">Déconnexion</a>
                <a href="#"> | <span class="glyphicon glyphicon-user"></span></a>
            {% else %}
                <a href="{{ path('login') }}">Connexion</a>
            {% endif %}
        </button>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
<!-- FOOTER ! -->
    {{ render(controller('WebAwardsBundle:Winner:getFooterData' )) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/framework/js/main.js') }}"></script>
{% endblock %}
</body>
</html>