<footer class="footer">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-4 text-center">
                <div class="col-xs-12 blocWinnerFooter">
                    <h2>- Site du Mois - </h2>
                    <a href="{{ path('project_show',{ 'id': monthWinner.id }) }}" target="_blank" ><img  class="img-responsive img-footer" src="{{ asset('uploads/project/'~ monthWinner.imgScreen) }}" alt="Image : {{ monthWinner.name }}"/></a>
                    <h6> {{ userMonth.firstname  }} {{ userMonth.lastname }} - {{ monthWinner.name }} - {{ monthWinner.dateAdd|date("d/m/Y") }}</h6>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <div class="col-xs-12">
                    <h2 class="projectRecentTitle">- Projets Récents - </h2>
                    <div class="row blocLastUpdate">
                        {% for project in lastProject %}
                            <div>
                                <p class="fleft move "><a href="{{ path('project_show',{ 'id': project.id }) }}">{{ project.name | upper }}</a></p>
                                <p class="fright"><span>{{ project.dateAdd|date("d/m/Y") }}</span></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <div class="col-xs-12">
                    <img  class="img-responsive logo-footer" src="{{ asset('bundles/framework/images/logo-small.png') }}" alt="WebAwards">
                    <div class="text-left blocContactFooter">
                        <a href="#"><h4>À propos de nous</h4></a>
                        <a href="#"><h4>Système d'évaluation</h4></a>
                        <a href="#"><h4>Contactez-nous</h4></a>
                        <div class="socialNetwork"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center copyright">&copy; Copyright <a href="{{ path('homepage') }}">WebAwards</a></div>
        </div>
    </div>
</footer>