{# app/Resources/views/security/login.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - DÉJÀ PARMIS NOUS ? - </h1>
            </div>
            <div class="col-xs-12 blocProfilUser text-center mainBlocFormLogin">
                {% if error %}
                    <div class="alert alert-warning text-center" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form action="{{ path('login') }}"  method="post">

                    <div class=" col-xs-12 blocFormLogin">
                        <div class="col-xs-12 divUserNameLogin">
                            <input class="userNameLogin" type="text" id="username" name="_username" placeholder="USERNAME" value="{{ last_username }}" />
                        </div>

                        <div class="col-xs-12 divPasswordLogin">
                            <input class="passwordLogin" type="password" id="password" name="_password" placeholder="PASSWORD" />
                        </div>
                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="col-xs-12 divBtnLogin">
                            <button class="btn btnLogin" type="submit">SE CONNECTER</button>
                        </div>
                    </div>
                </form>
                <div  class="col-xs-12 text-center text-uppercase divTitle">
                    <h5> - OU - </h5>
                </div>
                <a class="linkSubscribe" href="{{ path('user_registration') }}"><strong>CREER UN COMPTE</strong></a>
            </div>
        </div>
    </div>

{% endblock %}