{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>Désolé ! </strong>{{ flash_message }}</a>
        </div>
    {% endfor %}

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div  class="col-xs-12 text-center text-uppercase divTitle">
                    <h1> - Tous les projets - </h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% for project in projects %}
                <div class="col-xs-12 col-md-4 vignetteProject">
                    <a href="{{ path('project_show', { 'id': project.id }) }}">
                        <img class="imgProject" src="{{ asset('uploads/project/' ~ project.imgScreen) }}" alt="Image" />
                    </a>
                </div>
            {% endfor %}
            {% if maxPages > 1 %}
                <div class="col-xs-12 fright">
                    <ul class="pagination pagination-sm">
                        {# `«` arrow  #}
                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('admin_project_list', { page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                        </li>

                        {# Render each page number #}
                        {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' }}>
                                <a href="{{ path('admin_project_list', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {# `»` arrow #}
                        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path('admin_project_list',{ page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                        </li>
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
