{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - Tous  les projets - </h1>
            </div>
        </div>
    </div>
<div class="container-fluid">

        <div class="container-fluid">
        {% if projects.count > 0 %}
            {% for project in projects %}
                <div class="col-xs-12 col-md-4 vignetteProject">
                    <a href="{{ path('project_show', { 'id': project.id }) }}">
                        <img class="imgProject img-responsive" src="{{ asset('uploads/project/' ~ project.imgScreen) }}" />
                    </a>
                </div>
            {% endfor %}

        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center alert alert-warning fade in">
                        <h2> ... Aucun projet pour le moment ... </h2>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="blocBtn">
                        <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
                    </div>
                </div>
            </div>
            {% if maxPages > 1 %}
                <div class="col-xs-12 fright">
                    <ul class="pagination pagination-sm">
                        {# `«` arrow  #}
                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('admin_project_list', { page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                        </li>

                        {# Render each page number #}
                        {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' }}>
                                <a href="{{ path('admin_project_list', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {# `»` arrow #}
                        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path('admin_project_list',{ page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}