{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1>{{ project.name }} </h1>
            </div>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>Désolé ! </strong>{{ flash_message }}</a>
        </div>
    {% endfor %}
    <div class="container-fluid">
    {% if project %}
        <div class="container-fluid">
            <div class="row blocProjectDay">
                <div  class="col-xs-12 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1">
                    <div class="col-xs-12 blocImgMain">
                        <a href="{{ project.url }}" target="_blank">
                            <img class="img-responsive center imgProject" src="{{ asset('uploads/project/'~ project.imgScreen) }}" alt="Image : {{ project.name }}"/>
                        </a>
                    </div>

                </div>
                <div  class="col-xs-12 col-md-6 col-lg-5">
                    <div class="col-xs-4">
                        <img class="img-responsive center imgProjectMobile" src="{{ asset('uploads/project/'~ project.imgMobile) }}" alt="Image"/>
                    </div>
                    <div  class="col-xs-8 text-center blocInfoUser">
                        <div><h2><strong>{{ project.name | upper }}</strong></h2></div>
                        <div><h5>De : <a class="linkUser" href="{{ path('user_show', { 'id': user.id }) }}">{{ user.firstname }} {{ user.lastname }}</a></h5></div>
                        <div><h4>{{ project.description }}</h4></div>
                        <div><h6>Posté le : {{ project.dateAdd|date("d/m/Y") }}</h6></div>
                    </div>
                    <div  class="col-xs-12 text-center">
                        <div class="col-xs-12 noVote"><h2 class="text-uppercase">{{ project.name }} ENCORE INACTIF !</h2></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-center blocBtValidAdmin">
                        <a class="btValidAdmin" href="{{ path('admin_active_project', { 'id': project.id }) }}">VALIDER LE PROJET</a>
                    </div>
                </div>

            </div>
        </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="blocBtn">
                <a class="btn btRetour ml0" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
            </div>
        </div>
    </div>

        {%  if (app.user) != (null) %}
            {% if (app.user.roles[0]) == ('ROLE_ADMIN') %}

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="blocBtn">
                            <a class="btEdit ml0" href="{{ path('project_edit', { 'id': project.id }) }}">MODIFIER</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

{% endblock %}