{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row divTitleSubscribe">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - CRÉER VOTRE PROJET - </h1>
            </div>
        </div>
    </div>
    <div class="blocFormSubscribe">
        {{ form_start(form, { 'attr': {'class': 'try', 'novalidate': 'novalidate'} }) }}
        <div class="newProjectStepOne">
            <div class="col-xs-12 borderInput">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name , { 'attr': {'class': 'userNameLogin', 'placeholder':'NOM'} }) }}
            </div>
            <div class="col-xs-12 borderInput">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description , { 'attr': {'class': 'userNameLogin', 'placeholder':'DESCRITPION DU PROJET'} }) }}
            </div>
            <div class="col-xs-12 borderInput">
                {{ form_errors(form.url) }}
                {{ form_widget(form.url , { 'attr': {'class': 'userNameLogin', 'placeholder':'URL DU PROJET'} }) }}
            </div>
        </div>
        <div class="newProjectStepTwo">
            <div class="file-style borderInput">
                <label class="labelScreenProjectLabel fgrey"l>CHOISIR UNE IMAGE LAPTOP</label><br>
                {{ form_errors(form.imgScreen) }}
                <label class="labelScreenProject fgrey btn btn-default btn-ScreenProject">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ form_widget(form.imgScreen, { 'attr': {'class': 'inputFile'} }) }}
                </label>
            </div>
            <div class="file-style borderInput">
                {{ form_errors(form.imgMobile) }}
                <label class="labelMobileProjectLabel fgrey"l>CHOISIR UNE IMAGE MOBILE</label><br>
                <label class="labelMobileProject fgrey btn btn-default btn-MobileProject">
                    <i class="fa fa-plus" aria-hidden="true"></i>{{ form_widget(form.imgMobile, { 'attr': {'class': 'inputFile'} })  }}
                </label>

            </div>
            <div class="col-xs-12 btNextStepProjectPayement disableLink">
                <span>SUIVANT <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="newProjectStepPayement">
            {% if app.user.isSubscribe == false %}
            <div class="file-style  col-xs-6 blocPayYear">
                <div class="titlePay">
                    ABONNEZ-VOUS POUR SEULEMENT :
                </div>
                <div class="pricePay">
                    120 € / ANS
                </div>
                <div class="infoPay">
                    Postez un nombre de projet illimité !
                </div>
            </div>
            <div class="file-style  col-xs-6 blocPayOnce">
                <div class="titlePay"> PAYER UNE SEULE FOIS : </div>
                <div class="pricePay"> 30 € / PROJET </div>
                <div class="infoPay"> Postez votre projet sur WebAwards !</div>
            </div>
            <input type="hidden" required />
            <script
                    id = "stripeButton"
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_vA1gA5cVtIB8NDSRj7bjm2q1"
                    data-amount=""
                    data-name="WebAwards"
                    data-description="Formulaire de paiement"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="false"
                    data-allow-remember-me="false">
            </script>
            <input name="methodPost" type="hidden" id="methodPost" value="none">
            {% else %}
                <div class="col-xs-12 file-style text-center ">
                    <div class="blocSubscribe">
                        <h1><strong> Encore une dernière étape ...</strong></h1>
                        <p>En tant que membre abonné, vous ne devez plus payer pour poster vos projets sur <strong>WebAwards</strong> !<br> Cliquer sur le boutton et nous nous occuperons du reste !</p>
                    </div>
                    <input name="btSend" type="submit" id="btSend" value="CREER" class="btPay">
                </div>
            {% endif %}
            <div class="col-xs-12 btPreviousStepPayement">
                <span><i class="fa fa-angle-double-left" aria-hidden="true"></i> PRECEDENT</span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="blocBtn">
                <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
            </div>
        </div>
    </div>
{% endblock %}
