{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1>{{ project.name }} </h1>
            </div>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-warning text-center" role="alert">
            {{ flash_message }}</a>
        </div>
    {% endfor %}
    <div class="container-fluid">
    {% if project %}
        <div class="container-fluid">
            <div class="row blocProjectDay">
                <div  class="col-xs-12 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1">
                    <div class="col-xs-12 blocImgMain">
                        <a href="{{ project.url }}" target="_blank">
                            <img class="img-responsive center imgProject" src="{{ asset('uploads/project/'~ project.imgScreen) }}" alt="Image : {{ project.name }}"/>
                        </a>
                    </div>
                    <div  class="col-xs-6 text-left"><a href="{{ path('heart_new', {'idProject' : project.id }) }}">
                            {% if app.user %}
                                {% if (app.user.roles[0]) != ('ROLE_ADMIN') %}
                                    <span class="glyphicon glyphicon-heart {% if (hasLike == true)  %} blackHeart {%  elseif (hasLike == false) %} yellowHeart {% endif %}"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-heart blackHeart"></span>
                                {% endif %}
                            {% else %}
                                <span class="glyphicon glyphicon-heart blackHeart"></span>
                            {% endif %}
                        </a>{{ nbHeart }}</div>
                    <div  class="col-xs-6 text-right shareIcon">
                        <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u={{ project.url }}" title="Partager sur Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="twitter customer share" href="http://twitter.com/share?url={{ project.url }}l&amp;text=Site%20du%20jour%20&amp;hashtags=webawards" title="Partager sur Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div  class="col-xs-12 col-md-6 col-lg-6">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4">
                        <img class="img-responsive center imgProjectMobile" src="{{ asset('uploads/project/'~ project.imgMobile) }}" alt="Image"/>
                    </div>
                    <div  class="col-xs-12 col-sm-8 text-center blocInfoUser">
                        <div class="col-xs-12 col-sm-8 col-md-offset-1"><h2><strong>{{ project.name | upper }}</strong></h2></div>
                        <div class="col-xs-12 col-sm-8 col-md-offset-1"><h5>De : <a class="linkUser" href="{{ path('user_show', { 'id': user[0].id }) }}">{{ user[0].firstname }} {{ user[0].lastname }}</a></h5></div>
                        <div class="col-xs-12 col-sm-8 col-md-offset-1"><h4>{{ project.description }}</h4></div>
                        <div class="col-xs-12 col-sm-8 col-md-offset-1"><h6>Posté le : {{ project.dateAdd|date("d/m/Y") }}</h6></div>
                    </div>
                    {% if vote  %}
                            <div class="col-xs-10 right">
                                <span class="fright linkShowJury"><a href="{{ path('user_jury_show', { 'idProject': project.id  , 'page' :1 }) }}">VOIR LE JURY <span class="fa fa-angle-double-right"></span></a></span>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6 col-md-2 borderVoteContainer design"><div></div><span>{{ vote[0].nbDesign }}</span><i>Design</i></div>
                                <div class="col-xs-6 col-md-2 borderVoteContainer fluidity"><div></div><span>{{ vote[0].nbFluidity }}</span><i>Fluidité</i></div>
                                <div class="col-xs-6 col-md-2 borderVoteContainer concept"><div></div><span>{{ vote[0].nbConcept }}</span><i>Concept</i></div>
                                <div class="col-xs-6 col-md-2 borderVoteContainer responsive"><div></div><span>{{ vote[0].nbResponsive }}</span><i>Responsive</i></div>
                                <div class="col-xs-6 col-md-4 borderVoteContainer nbTotal"><div></div><span>{{ vote[0].nbTotal }}</span><i>Total</i></div>
                            </div>
                    {% else %}
                        {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days') %}
                            <div  class="col-xs-12 text-center">
                                <div class="col-xs-12 noVote"><h2 class="text-uppercase">{{ project.name }} a besoin de vos votes !</h2></div>
                            </div>
                        {% else %}
                            <div  class="col-xs-12 text-center">
                                <div class="col-xs-12 noVote"><h2 class="text-uppercase">Aucun vote enrgistré pour {{ project.name }}</h2></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days')  %}
                <div class="row">
                    <div class="hidden-xs col-xs-12 hidden-sm col-md-12 col-md-offset-0 col-lg-11 col-lg-offset-1">
                        {{ form_start(form,{'action': '../vote/new'}) }}
                        {{ form_widget(form) }}

                            <div class="col-xs-6 col-md-2 borderVoteContainer design"><div></div><span><input name="nbDesign" type="text" placeholder="?/10" class="inputVote text-center"></span><i>Design</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer fluidity"><div></div><span><input name="nbFluidity" type="text" placeholder="?/10"class="inputVote text-center"></span><i>Fluidité</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer concept"><div></div><span><input name="nbConcept" type="text" placeholder="?/10" class="inputVote text-center"></span><i>Concept</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer responsive"><div></div><span><input name="nbResponsive" type="text" placeholder="?/10"class="inputVote text-center"></span><i>Responsive</i></div>
                        <input type="hidden" name="idAuthor" value="{{ project.idAuthor }}" />
                        <input type="hidden" name="idProject" value="{{ project.id }}" />
                        <input type="submit" class="btSendVoteUser" value="voter !" />
                        {{ form_end(form) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 mr45">
            <div class="col-xs-12 blocAddComment">
                {{ form_start(formComment,{ 'attr': {'action': '/comment/new'} }) }}
                <div class="form-group">
                    <label for="comment_content">Poster un commentaire :</label>
                    <br>
                    {{ form_errors(formComment.content) }}
                    {{ form_widget(formComment.content, {'attr': {'class':'form-contol'}}) }}
                    <input name="btSend" class="btAddComment" type="submit" value="AJOUTER" />
                </div>
                <input type="hidden" name="idProject" value="{{ project.id }}">
                {{ form_end(formComment) }}
            </div>
        {% if comments  %}
            {%  for comment in comments %}
                <div class="col-xs-12 blocComments">
                    <div class="col-xs-3 col-sm-1">
                        <a href="{{ path('user_show', { 'id': comment.idUser.id }) }}"><img  class="img-responsive img-profil-comment" src="{{ asset('uploads/user/'~ comment.idUser.img) }}" alt="Image" /></a>
                    </div>
                    <div class="col-xs-8 col-sm-push-0 col-md-push-1">
                        <p>{{ comment.content }}</p>
                        <div class="blocInfoComment">
                            <span>Posté le {{  comment.dateAdd|date("d/m/Y") }}  par  <a class="linkAuthorComment" href="{{ path('user_show', { 'id': comment.idUser.id }) }}">{{ comment.idUser.username }}</a></span>
                            {% if app.user %}
                                {% if (app.user.roles[0]) != ('ROLE_ADMIN') %}
                                    {% if app.user.id == comment.idUser.id %}
                                        <span class="fright"><a href={{ path('comment_edit', {'id' : comment.id }) }}>Modifier</a></span>
                                    {% endif %}
                                {% elseif( (app.user.roles[0]) == ('ROLE_ADMIN') ) %}
                                    <span class="fright"><a href={{ path('comment_edit', {'id' : comment.id }) }}>Modifier</a></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if comments|length >= nbComment*5 %}
                <div class="col-xs-12 blocComments">
                    <span class="fright seeMoreComment"><a href={{ path('project_show_comments', {'id' : project.id, 'nbComment' : nbComment }) }}><i class="glyphicon glyphicon-triangle-bottom"></i>Voir plus</a></span>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mr45">
        {% if onemore  %}
            <div class="text-center">
                <h5>Un autre projet de  <a class="linkUser" href="{{ path('user_show', { 'id': user[0].id }) }}">{{ user[0].firstname }} {{ user[0].lastname }}</a></h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4 vignetteProject">
                <a href="{{ path('project_show', { 'id': onemore.id }) }}">
                    <img class="imgProject img-responsive" src="{{ asset('uploads/project/' ~ onemore.imgScreen) }}" alt="Image" />
                </a>
                <div class="col-xs-12 text-center blocSuggestVote">
                    {% if date(onemore.dateAdd) < date() and date(onemore.dateAdd) > date('-7days') %}
                        <div class="SuggestVote">
                            <h1><a href="{{ path('project_show', { 'id': onemore.id }) }}">VOTER !</a></h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="blocBtn">
                <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
            </div>
        </div>
    </div>

        {%  if (app.user) != (null) %}
            {% if (app.user.roles[0]) == ('ROLE_ADMIN') %}

                <div class="row">
                    <div class="col-xs-12">
                        <div class="blocBtn">
                            <a class="btEdit" href="{{ path('project_edit', { 'id': project.id }) }}">MODIFIER</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="blocBtn">
                            {{ form_start(delete_form) }}
                            <input class="btDelete" type="submit" value="SUPPRIMER">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

{% endblock %}