{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - {{ from }}'s project- </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default navbar-fixed-side subMenu">
                    <span>Trier par :</span>
                    <a href="{{ path('project_from_order', {from : from, order: 'author',page: 1}) }}">Auteur</a>
                    <a href="{{ path('project_from_order', {from : from, order: 'like',page: 1}) }}">Like</a>
                    <a href="{{ path('project_from_order', {from : from, order: 'desc',page: 1}) }}">Projet récent</a>
                    <a href="{{ path('project_from_order', {from : from, order: 'asc',page: 1}) }}">Projet moins récent</a>
                </nav>
            </div>
        </div>
    </div>
<div class="container-fluid">
        <div class="container-fluid">
        {% if projects is not empty %}
            {% for project in projects %}
                <div class="col-xs-12 col-md-4 vignetteProject">
                    <a href="{{ path('project_show', { 'id': project.id }) }}">
                        <img class="imgProject" src="{{ asset('uploads/project/' ~ project.imgScreen) }}" alt="Image"/>
                    </a>
                    <div class="col-xs-12 text-center">
                        <div class="col-xs-12 text-center blocSuggestVote">
                            {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days') %}
                                <div class="SuggestVote">
                                    <h1><a href="{{ path('project_show', { 'id': project.id }) }}">VOTER !</a></h1>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center alert alert-warning fade in">
                        <h2> ... Aucun projet pour le moment ... </h2>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="blocBtn">
                        <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
                    </div>
                </div>
            </div>
            {% if maxPages > 1 %}

                <ul class="pagination pagination-sm">
                    {# `«` arrow  #}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('project_from_order', { from : from, order : order, page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('project_from_order', {from : from, order : order, page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('project_from_order',{ from : from, order : order, page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}