{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - Projet {% if from == "week" %}  de la Semaine
                    {% elseif from == "month" %}
                        du Mois
                    {% elseif from == "year" %}
                        de l'Année
                    {% endif %} - </h1>
            </div>
        </div>
    </div>

<div class="container-fluid">

        <div class="container-fluid">
        {% if projects.count > 0 %}
            <div class="container-fluid">
                <div class="row blocProjectDay">
                    <div  class="col-xs-12 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1">
                        <div class="col-xs-12 blocImgMain">
                            <a href=" {{ path('project_show', { 'id': (projects|first).id }) }}">
                                <img class="img-responsive center imgProject" src="{{ asset('uploads/project/'~ (projects|first).imgScreen) }}" alt="Image : {{ (projects|first).name }}"/>
                            </a>
                        </div>
                        <div  class="col-xs-6 text-left"><a href="{{ path('heart_new', {'idProject' :  (projects|first).id }) }}">
                                {% if app.user %}
                                    <span class="glyphicon glyphicon-heart {% if (hasLike == true)  %} blackHeart {%  elseif (hasLike == false) %} yellowHeart {% endif %}"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-heart blackHeart"></span>
                                {% endif %}
                            </a>{{ nbHeart }}</div>
                        <div  class="col-xs-6 text-right shareIcon">
                            <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u={{ (projects|first).url }}" title="Partager sur Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="twitter customer share" href="http://twitter.com/share?url={{ (projects|first).url }}l&amp;text=Site%20du%20jour%20&amp;hashtags=webawards" title="Partager sur Twiter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div  class="col-xs-12 col-md-6 col-lg-5">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4">
                            <img class="img-responsive center imgProjectMobile" src="{{ asset('uploads/project/'~ (projects|first).imgMobile) }}" alt="Image"/>
                        </div>
                        <div  class="col-xs-12 col-sm-8 text-center blocInfoUser">
                            <div class="col-xs-12 col-lg-sm-8 col-md-offset-1"><h2><strong>{{ (projects|first).name | upper }}</strong></h2></div>

                            <div class="col-xs-12 col-lg-sm-8 col-md-offset-1"><h4>{{ (projects|first).description }}</h4></div>
                            <div class="col-xs-12 col-lg-sm-8 col-md-offset-1"><h6>Posté le : {{ (projects|first).dateAdd|date("d/m/Y") }}</h6></div>
                        </div>
                        <div class="col-xs-10 right">
                            <span class="fright linkShowJury"><a href="{{ path('user_jury_show', { 'idProject': projects|first.id  , 'page' :1 }) }}">VOIR LE JURY <span class="fa fa-angle-double-right"></span></a></span>
                        </div>
                        <div  class="col-xs-12">
                            <div class="col-xs-6 col-md-2 borderVoteContainer design"><div></div><span>{{ (vote|first).nbDesign }}</span><i>Design</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer fluidity"><div></div><span>{{ (vote|first).nbFluidity }}</span><i>Fluidité</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer concept"><div></div><span>{{ (vote|first).nbConcept }}</span><i>Concept</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer responsive"><div></div><span>{{ (vote|first).nbResponsive }}</span><i>Responsive</i></div>
                            <div class="col-xs-6 col-md-4 borderVoteContainer nbTotal"><div></div><span>{{ (vote|first).nbTotal }}</span><i>Total</i></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ICI LE RESTE DES PROJETS -->
            {% for project in projects|slice(1) %}
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4 vignetteProject">
                    <a href="{{ path('project_show', { 'id': project.id }) }}">
                        <img class="imgProject img-responsive" src="{{ asset('uploads/project/' ~ project.imgScreen) }}" alt="Image" />
                    </a>
                    <div class="col-xs-12 text-center">
                        <div class="hidden-sm hidden-xs col-xs-12 text-center blocSuggestVote">
                            {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days') %}
                                <div class="SuggestVote">
                                    <h1><a href="{{ path('project_show', { 'id': project.id }) }}">VOTER !</a></h1>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center alert alert-warning fade in">
                        <h2> ... Aucun projet pour le moment ... </h2>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="blocBtn">
                        <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
                    </div>
                </div>
            </div>
            {% if maxPages > 1 %}

                <ul class="pagination pagination-sm">
                    {# `«` arrow  #}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('project_from', { from : 'agency', page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('project_from', {from : 'agency', page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('project_from',{ from : 'agency', page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}