{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1>{{ project.name }} </h1>
            </div>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>Désolé ! </strong>{{ flash_message }}</a>.
        </div>
    {% endfor %}
    <div class="container-fluid">
    {% if project %}
        <div class="container-fluid">
            <div class="row blocProjectDay">
                <div  class="col-xs-12 col-md-6">
                    <div class="col-xs-12">
                        <a href="{{ project.url }}" target="_blank">
                            <img class="img-responsive center imgProject" src="{{ asset('uploads/project/'~ project.imgScreen) }}" alt="Image : {{ project.name }}"/>
                        </a>
                    </div>
                    <div  class="col-xs-6 text-left"><a href=""><span class="glyphicon glyphicon-heart"></span></a>{{ project.nbLike }}</div>
                    <div  class="col-xs-6 text-right shareIcon">
                        <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u={{ project.url }}" title="Partager sur Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="twitter customer share" href="http://twitter.com/share?url={{ project.url }}l&amp;text=Site du jour &amp;hashtags=webawards" title="Partager sur Twiiter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div  class="col-xs-12 col-md-6">
                    <div class="col-xs-4">
                        <img class="img-responsive center imgProjectMobile" src="{{ asset('uploads/project/'~ project.imgMobile) }}" alt="Image"/>
                    </div>
                    <div  class="col-xs-8 text-center blocInfoUser">
                        <div><h2><strong>{{ project.name | upper }}</strong></h2></div>
                        <div><h5>De : <a class="linkUser" href="{{ path('user_show', { 'id': user[0].id }) }}">{{ user[0].firstname }} {{ user[0].lastname }}</a></h5></div>
                        <div><h4>{{ project.description }}</h4></div>
                        <div><h6>Posté le : {{ project.dateAdd|date("d/m/Y") }}</h6></div>
                    </div>
                    {% if vote  %}
                        <div  class="col-xs-12">
                            <div class="col-xs-12 right">
                                <span class="fright linkShowJury"><a href="{{ path('user_jury_show', { 'idProject': project.id  , 'page' :1 }) }}">VOIR LE JURY <span class="fa fa-angle-double-right"></span></a></span>
                            </div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer design"><div></div><span>{{ vote[0].nbDesign }}</span><i>Design</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer fluidity"><div></div><span>{{ vote[0].nbFluidity }}</span><i>Fluidité</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer concept"><div></div><span>{{ vote[0].nbConcept }}</span><i>Concept</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer responsive"><div></div><span>{{ vote[0].nbResponsive }}</span><i>Responsive</i></div>
                            <div class="col-xs-6 col-md-4 borderVoteContainer nbTotal"><div></div><span>{{ vote[0].nbTotal }}</span><i>Total</i></div>
                        </div>
                    {% else %}
                        {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days') %}
                            <div  class="col-xs-12 text-center">
                                <div class="col-xs-12 noVote"><h2 class="text-uppercase">{{ project.name }} a besoin de vos votes !</h2></div>
                            </div>
                        {% else %}
                            <div  class="col-xs-12 text-center">
                                <div class="col-xs-12 noVote"><h2 class="text-uppercase">Aucun vote enrgistré pour {{ project.name }}</h2></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if date(project.dateAdd) < date() and date(project.dateAdd) > date('-7days')  %}
                <div class="row">
                    <div class="col-xs-12 blocVoteUser">
                        {{ form_start(form,{'action': '../vote/new'}) }}
                        {{ form_widget(form) }}

                            <div class="col-xs-6 col-md-2 borderVoteContainer design"><div></div><span><input name="nbDesign" type="text" placeholder="?/10" class="inputVote text-center"></span><i>Design</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer fluidity"><div></div><span><input name="nbFluidity" type="text" placeholder="?/10"class="inputVote text-center"></span><i>Fluidité</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer concept"><div></div><span><input name="nbConcept" type="text" placeholder="?/10" class="inputVote text-center"></span><i>Concept</i></div>
                            <div class="col-xs-6 col-md-2 borderVoteContainer responsive"><div></div><span><input name="nbResponsive" type="text" placeholder="?/10"class="inputVote text-center"></span><i>Responsive</i></div>
                        <input type="hidden" name="idAuthor" value="{{ project.idAuthor }}" />
                        <input type="hidden" name="idProject" value="{{ project.id }}" />
                        <input type="submit" class="btSendVoteUser" value="voter !" />
                        {{ form_end(form) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="blocBtn">
                <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
            </div>
        </div>
    </div>

        {%  if (app.user) != (null) %}
            {% if (app.user.roles[0]) == ('ROLE_ADMIN') %}

                <div class="row">
                    <div class="col-xs-12">
                        <div class="blocBtn">
                            <a class="btEdit" href="{{ path('project_edit', { 'id': project.id }) }}">MODIFIER</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="blocBtn">
                            {{ form_start(delete_form) }}
                            <input class="btDelete" type="submit" value="SUPPRIMER">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

{% endblock %}