{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div  class="col-xs-12 text-center text-uppercase divTitle">
                <h1> - Jury pour <strong>{{ project.name }}</strong> - </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row blocProjectDay">
            <div class="blocUserList">
                {% for user in users %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 blocUserVignette">
                        <div class="col-xs-4">
                            <a href=" {{ path('user_show', { 'id': user.id }) }}">
                                <img  class="img-responsive vignetteProject" src="{{ asset('uploads/user/' ~ user.img) }}" alt="Image de {{ user.firstname }} {{ user.lastname }}" title="Voir profil"/>
                            </a>
                        </div>
                        <div class="col-xs-8 text-center">
                            <p class="vignetteUserRole"><span>{% if user.role != "me"  %} {{ user.role|upper }} {% else %} MAKER {% endif %}</span></p>
                            <p>{{ user.firstname|upper }} {{ user.lastname|upper }} </p>
                            <p class="vignetteUserDate" >Membre depuis le : {{ user.dateAff|date("d/m/Y") }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="blocBtn">
                <a class="btn btRetour" href="{{ app.request.headers.get('referer') }}">RETOUR</a>
            </div>
        </div>
    </div>
{% endblock %}
